p,
h4,
h3,
h6 {
    width: auto !important;
    text-align: center !important;
    font-size: small !important;
}

p.push-left,
div.push-left {
    text-align: start !important;
}

div.push-right {
    text-align: end !important;
}

.navbar {
    width: 100%;
}

img.syke {
    width: 100%;
    height: 100%;
}

.bar-below-nav {
    align-items: center !important;
}

div {
    justify-content: flex-end !important;
}

a {
    text-decoration: none !important;
}

.form-group,
.form-select,
.form-control {
    background-color: transparent !important;
    border-color: black !important;
    border-radius: 0%;
}

.front {
    padding-bottom: 300px !important;
    justify-content: center !important;
}

.darker {
    background-color: rgba(0, 0, 0, 0.572);
}

.carousel-caption {
    color: rgb(31, 31, 31) !important;
    background-color: rgb(250, 167, 0);
    display: block !important;
    bottom: 0%;
    width: 100% !important;
    left: 0%;
}

.footer {
    justify-content: left !important;
}

.bar {
    background-image: url("../assets/room.png");
    background-size: 70%;
    background-repeat: no-repeat;
    background-position-y: bottom !important;
    background-position-x: center !important;
    color: transparent !important;
}

.reception {
    background: -webkit-linear-gradient(top, rgb(0, 0, 0), rgba(0, 0, 0, 0.663)), url("../assets/bgs.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

.roomy {
    background-image: url("../assets/rooms.png");
    background-size: 60%;
    background-repeat: no-repeat;
    background-position-y: bottom !important;
    background-position-x: center !important;
    color: transparent !important;
}

div.dropdown-menu.show {
    background-color: rgba(var(--bs-dark-rgb), var(--bs-bg-opacity))!important;
    margin-top: 8px;
    border: 0 !important;
    border-radius: 0;
    color: aliceblue !important;
}

button {
    border-radius: 0 !important;
    font-weight: light !important;
    width: auto !important;
}

.link {
    color: rgba(240, 248, 255, 0.621) !important;
}

.rooms {
    background-color: rgb(250, 166, 0) !important;
}

.orange-syke {
    color: rgb(250, 166, 0) !important;
}

.bg-warning {
    background-color: rgb(250, 166, 0) !important;
    color: rgb(23, 23, 23) !important;
}

svg {
    margin-right: 5px !important;
}

.bg-dark {
    color: rgba(240, 248, 255, 0.838) !important;
}

.rooms {
    justify-content: flex-start !important;
}

img.room-images {
    height: 100%;
    width: 100%;
}

.big {
    width: 100%;
    height: 100%;
}

.pic2 {
    background-color: transparent !important;
}