@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400;0,500;0,600;0,700;1,400&display=swap');
html {
    background-color: black;
}

body {
    margin: 0;
    font-family: 'Lora', serif !important;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)), url("./assets/living.jpg");
    background-size: contain;
    background-repeat: no-repeat;
    /* didnt fit anywhere else */
    color: aliceblue !important;
    text-align: center !important;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}